In [1]:
import pandas as pd
from faker import Faker

In [2]:
df_rating = pd.read_csv('../CSV Files/ratings_with_date.csv')
df_rating.head()

   user_id  book_id  rating        date
0        1      258       5  2011-03-08
1        2     4081       4  2014-02-28
2        2      260       5  2012-11-26
3        2     9296       5  2019-05-29
4        2     2318       3  2018-12-28

In [3]:
fake = Faker()

col_ids =  df_rating['user_id'].unique()
col_ids =  pd.DataFrame(col_ids)
col_ids.rename(columns={0:'user_id'}, inplace=True)
col_ids['username'] = col_ids.apply(lambda x: fake.unique.user_name(), axis=1)
col_ids['sex'] = col_ids.apply(lambda x:fake.bothify(text='?', letters='MF'), axis=1)
col_ids['name'] = col_ids.apply(lambda x: fake.unique.name(), axis=1)
col_ids['email'] = col_ids.apply(lambda x: fake.unique.email(), axis=1)
col_ids['birthdate'] = col_ids.apply(lambda x: fake.date_of_birth(tzinfo=None, minimum_age=23, maximum_age=90), axis=1)
col_ids['address'] = col_ids.apply(lambda x: fake.unique.address(), axis=1)
col_ids['phone_number'] = col_ids.apply(lambda x: fake.unique.phone_number(), axis=1)
#col_ids.set_index(user_id, inplace=True)

KeyboardInterrupt:

In [ ]:
#col_ids.set_index('user_id', inplace=True)

In [ ]:
col_ids

,user_id,username,sex,name,email,birthdate,address,phone_number
0,1,stewarttonya,M,Judy Pratt,brandon49@example.net,1969-04-12,"2156 Grimes Drive Suite 054\nLopezfort, WA 80657",+1-038-124-1014x942
1,2,samantha96,M,Kyle Salinas,nrose@example.org,1987-07-23,"514 Mcdonald Circle\nTorresbury, NY 89952",433-206-5697
2,4,brandy72,F,Jeffrey Cook,kshort@example.org,1974-08-16,"PSC 1904, Box 8121\nAPO AE 59611",+1-056-569-1578x97872
3,6,blewis,M,Edward Harrington,fitzpatrickmary@example.org,1997-12-26,"6255 Hanson Streets Suite 038\nKevinland, PW 8...",001-592-363-8267
4,8,donnajohnson,F,Samantha Drake,eharris@example.net,1958-11-27,"50725 Isaiah Trail Suite 240\nJohnburgh, HI 07628",(565)403-6573x537
...,...,...,...,...,...,...,...,...
53419,47704,jasonthornton,F,Joseph Hill,ramoskaren@example.com,1988-01-23,"885 Destiny Camp Suite 954\nWest Raymondview, ...",+1-431-221-7491x6485
53420,51115,rabbott,F,Karen Weber,laurenbaxter@example.org,1956-08-11,234 Donaldson Trace Suite 004\nWest Lynnboroug...,001-223-857-4973x1354
53421,27329,jessicanoble,F,Jeremy Berry,carrie80@example.net,1987-07-20,"656 Gibson Hills\nLewisshire, MH 10853",7363006420
53422,33111,philipshelton,F,Dustin Lewis,huntsara@example.org,1972-08-24,"2103 Gonzalez Parkway\nSheriton, WI 92843",+1-752-049-1796x438
53423,49802,fnavarro,F,John Hunter,christianjacqueline@example.net,1969-09-13,"713 Fields Fort\nWest Mary, MP 50671",760-005-5765x095

In [ ]:
col_ids['username'].value_counts()

stewarttonya     1
raymondhenry     1
wchoi            1
maylisa          1
grantbenjamin    1
                ..
jackhowell       1
zlewis           1
wrightkim        1
davistimothy     1
fnavarro         1
Name: username, Length: 53424, dtype: int64

In [8]:
col_ids.to_csv('CSV Files/user_2.csv')