In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import pandas.io.sql as sqlio
import psycopg2

# Goodreads Data Warehouse

## Connection to database

In [2]:
## connect to database
con = psycopg2.connect(
    database="fced_paulo_portela",             # your database is the same as your username
    user="fced_paulo_portela",                 # your username
    password="!Pnp2186tenis",             # your password
    host="dbm.fe.up.pt",
    port="5433",             # the database host
    options='-c search_path=ad_goodreads'  # use the schema you want to connect to
)
print('Connection Sucessfully!')

Connection Sucessfully!

## Dimensions

In [4]:
# Create table authors and insert data
with open('../Files to load data into SQL/authors.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table to_read created successfully')

Table authors created successfully

In [5]:
# Create table books and insert data
with open('../Files to load data into SQL/books.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table books created successfully')

Table books created successfully

In [6]:
# Create table users and insert data
with open('../Files to load data into SQL/users.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table users created successfully')

Table users created successfully

In [7]:
# Create table tags and insert data
with open('../Files to load data into SQL/tags.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table tags created successfully')

Table tags created successfully

In [8]:
# Create table time and insert data
with open('../Files to load data into SQL/time.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table time created successfully')

Table time created successfully

## Fact Tables

In [5]:
# Create table to_read and insert data
with open('../Files to load data into SQL/to_read.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table to_read created successfully')

Table to_read created successfully

In [6]:
# Create table book_tags and insert data
with open('../Files to load data into SQL/book_tags.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table book_tags created successfully')

Table book_tags created successfully

In [3]:
# Create table statistics_rating and insert data
with open('../Files to load data into SQL/statistics_rating.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table satistics_rating created successfully')

Table satistics_rating created successfully

In [14]:
# Create table ratings and insert data -  you must switch between all files from 0-5 to upload all the data
with open('../Files to load data into SQL/ratings_5.sql', 'r') as file:
    sql = file.read()

cur = con.cursor()
cur.execute(sql)
con.commit()
print('Table ratings created successfully')

Table ratings created successfully

In [7]:
import os

# Open the SQL file for reading
with open('../Files to load data into SQL/ratings.sql', 'r') as sql_file:
    # Read the contents of the file into a string variable
    sql_contents = sql_file.read()

# Calculate the size of each chunk
chunk_size = len(sql_contents) // 6

# Split the SQL string into 6 equal parts
sql_chunks = [sql_contents[i:i+chunk_size] for i in range(0, len(sql_contents), chunk_size)]

# Create six output files and write each chunk to a separate file
for i in range(6):
    # Create a file with a unique name
    filename = f"ratings_{i}.sql"
    with open(filename, 'w') as outfile:
        # Write the current chunk to the file
        outfile.write(sql_chunks[i])